# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd 
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [2]:
url  = './student-mat.csv'
df = pd.read_csv(url)
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [3]:
# print(df.loc[:,"school":"guardian"])

### Step 5. Create a lambda function that capitalize strings.

In [4]:
capitalizer = lambda x:x.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [9]:
print(df.Mjob.apply(capitalizer))

0       At_home
1       At_home
2       At_home
3        Health
4         Other
5      Services
6         Other
7         Other
8      Services
9         Other
10      Teacher
11     Services
12       Health
13      Teacher
14        Other
15       Health
16     Services
17        Other
18     Services
19       Health
20      Teacher
21       Health
22      Teacher
23        Other
24     Services
25     Services
26        Other
27       Health
28     Services
29      Teacher
         ...
365     At_home
366     Teacher
367       Other
368     At_home
369       Other
370    Services
371     At_home
372       Other
373       Other
374       Other
375       Other
376      Health
377     Teacher
378       Other
379     At_home
380     Teacher
381       Other
382       Other
383       Other
384       Other
385     At_home
386     Teacher
387    Services
388     Teacher
389       Other
390    Services
391    Services
392       Other
393    Services
394       Other
Name: Mjob, dtype: object

### Step 7. Print the last elements of the data set.

In [5]:
print(df.tail(1))

    school sex  age address famsize Pstatus  Medu  Fedu   Mjob     Fjob ...  \
394     MS   M   19       U     LE3       T     1     1  other  at_home ...

    famrel freetime  goout  Dalc  Walc health absences G1 G2 G3
394      3        2      3     3     3      5        5  8  9  9

[1 rows x 33 columns]

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [6]:
df['Mjob'] = df.Mjob.apply(capitalizer)
print(df.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob ...  \
0     GP   F   18       U     GT3       A     4     4  At_home   teacher ...
1     GP   F   17       U     GT3       T     1     1  At_home     other ...
2     GP   F   15       U     LE3       T     1     1  At_home     other ...
3     GP   F   15       U     GT3       T     4     2   Health  services ...
4     GP   F   16       U     GT3       T     3     3    Other     other ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10

[5 rows x 33 columns]

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [13]:
def majority(x):
    if x > 17:
        return True
    else:
        return False

In [15]:
df['legal_drinker'] = df.age.apply(majority)
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,legal_drinker
0,GP,F,18,U,GT3,A,4,4,At_home,teacher,...,3,4,1,1,3,6,5,6,6,True
1,GP,F,17,U,GT3,T,1,1,At_home,other,...,3,3,1,1,3,4,5,5,6,False
2,GP,F,15,U,LE3,T,1,1,At_home,other,...,3,2,2,3,3,10,7,8,10,False
3,GP,F,15,U,GT3,T,4,2,Health,services,...,2,2,1,1,5,2,15,14,15,False
4,GP,F,16,U,GT3,T,3,3,Other,other,...,3,2,1,2,5,4,6,10,10,False

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [18]:
def times10(x):
    if type(x) is int:
        return 10 * x
    else:
        return x
print(df.applymap(times10).head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  \
0     GP   F  180       U     GT3       A    40    40  At_home   teacher
1     GP   F  170       U     GT3       T    10    10  At_home     other
2     GP   F  150       U     LE3       T    10    10  At_home     other
3     GP   F  150       U     GT3       T    40    20   Health  services
4     GP   F  160       U     GT3       T    30    30    Other     other

       ...      freetime goout  Dalc  Walc  health absences   G1   G2   G3  \
0      ...            30    40    10    10      30       60   50   60   60
1      ...            30    30    10    10      30       40   50   50   60
2      ...            30    20    20    30      30      100   70   80  100
3      ...            20    20    10    10      50       20  150  140  150
4      ...            30    20    10    20      50       40   60  100  100

  legal_drinker
0          True
1         False
2         False
3         False
4         False

[5 rows x 34 columns]

In [19]:
print(df * 10)

                   school         sex  age     address  \
0    GPGPGPGPGPGPGPGPGPGP  FFFFFFFFFF  180  UUUUUUUUUU
1    GPGPGPGPGPGPGPGPGPGP  FFFFFFFFFF  170  UUUUUUUUUU
2    GPGPGPGPGPGPGPGPGPGP  FFFFFFFFFF  150  UUUUUUUUUU
3    GPGPGPGPGPGPGPGPGPGP  FFFFFFFFFF  150  UUUUUUUUUU
4    GPGPGPGPGPGPGPGPGPGP  FFFFFFFFFF  160  UUUUUUUUUU
5    GPGPGPGPGPGPGPGPGPGP  MMMMMMMMMM  160  UUUUUUUUUU
6    GPGPGPGPGPGPGPGPGPGP  MMMMMMMMMM  160  UUUUUUUUUU
7    GPGPGPGPGPGPGPGPGPGP  FFFFFFFFFF  170  UUUUUUUUUU
8    GPGPGPGPGPGPGPGPGPGP  MMMMMMMMMM  150  UUUUUUUUUU
9    GPGPGPGPGPGPGPGPGPGP  MMMMMMMMMM  150  UUUUUUUUUU
10   GPGPGPGPGPGPGPGPGPGP  FFFFFFFFFF  150  UUUUUUUUUU
11   GPGPGPGPGPGPGPGPGPGP  FFFFFFFFFF  150  UUUUUUUUUU
12   GPGPGPGPGPGPGPGPGPGP  MMMMMMMMMM  150  UUUUUUUUUU
13   GPGPGPGPGPGPGPGPGPGP  MMMMMMMMMM  150  UUUUUUUUUU
14   GPGPGPGPGPGPGPGPGPGP  MMMMMMMMMM  150  UUUUUUUUUU
15   GPGPGPGPGPGPGPGPGPGP  FFFFFFFFFF  160  UUUUUUUUUU
16   GPGPGPGPGPGPGPGPGPGP  FFFFFFFFFF  160  UUUUUUUUUU
17   GPGPGPGPGPGPGPGPGPGP  FFFFFFFFFF  160  UUUUUUUUUU
18   GPGPGPGPGPGPGPGPGPGP  MMMMMMMMMM  170  UUUUUUUUUU
19   GPGPGPGPGPGPGPGPGPGP  MMMMMMMMMM  160  UUUUUUUUUU
20   GPGPGPGPGPGPGPGPGPGP  MMMMMMMMMM  150  UUUUUUUUUU
21   GPGPGPGPGPGPGPGPGPGP  MMMMMMMMMM  150  UUUUUUUUUU
22   GPGPGPGPGPGPGPGPGPGP  MMMMMMMMMM  160  UUUUUUUUUU
23   GPGPGPGPGPGPGPGPGPGP  MMMMMMMMMM  160  UUUUUUUUUU
24   GPGPGPGPGPGPGPGPGPGP  FFFFFFFFFF  150  RRRRRRRRRR
25   GPGPGPGPGPGPGPGPGPGP  FFFFFFFFFF  160  UUUUUUUUUU
26   GPGPGPGPGPGPGPGPGPGP  MMMMMMMMMM  150  UUUUUUUUUU
27   GPGPGPGPGPGPGPGPGPGP  MMMMMMMMMM  150  UUUUUUUUUU
28   GPGPGPGPGPGPGPGPGPGP  MMMMMMMMMM  160  UUUUUUUUUU
29   GPGPGPGPGPGPGPGPGPGP  MMMMMMMMMM  160  UUUUUUUUUU
..                    ...         ...  ...         ...
365  MSMSMSMSMSMSMSMSMSMS  MMMMMMMMMM  180  RRRRRRRRRR
366  MSMSMSMSMSMSMSMSMSMS  MMMMMMMMMM  180  UUUUUUUUUU
367  MSMSMSMSMSMSMSMSMSMS  FFFFFFFFFF  170  RRRRRRRRRR
368  MSMSMSMSMSMSMSMSMSMS  FFFFFFFFFF  180  UUUUUUUUUU
369  MSMSMSMSMSMSMSMSMSMS  FFFFFFFFFF  180  RRRRRRRRRR
370  MSMSMSMSMSMSMSMSMSMS  FFFFFFFFFF  190  UUUUUUUUUU
371  MSMSMSMSMSMSMSMSMSMS  MMMMMMMMMM  180  RRRRRRRRRR
372  MSMSMSMSMSMSMSMSMSMS  FFFFFFFFFF  170  UUUUUUUUUU
373  MSMSMSMSMSMSMSMSMSMS  FFFFFFFFFF  170  RRRRRRRRRR
374  MSMSMSMSMSMSMSMSMSMS  FFFFFFFFFF  180  RRRRRRRRRR
375  MSMSMSMSMSMSMSMSMSMS  FFFFFFFFFF  180  RRRRRRRRRR
376  MSMSMSMSMSMSMSMSMSMS  FFFFFFFFFF  200  UUUUUUUUUU
377  MSMSMSMSMSMSMSMSMSMS  FFFFFFFFFF  180  RRRRRRRRRR
378  MSMSMSMSMSMSMSMSMSMS  FFFFFFFFFF  180  UUUUUUUUUU
379  MSMSMSMSMSMSMSMSMSMS  FFFFFFFFFF  170  RRRRRRRRRR
380  MSMSMSMSMSMSMSMSMSMS  MMMMMMMMMM  180  UUUUUUUUUU
381  MSMSMSMSMSMSMSMSMSMS  MMMMMMMMMM  180  RRRRRRRRRR
382  MSMSMSMSMSMSMSMSMSMS  MMMMMMMMMM  170  UUUUUUUUUU
383  MSMSMSMSMSMSMSMSMSMS  MMMMMMMMMM  190  RRRRRRRRRR
384  MSMSMSMSMSMSMSMSMSMS  MMMMMMMMMM  180  RRRRRRRRRR
385  MSMSMSMSMSMSMSMSMSMS  FFFFFFFFFF  180  RRRRRRRRRR
386  MSMSMSMSMSMSMSMSMSMS  FFFFFFFFFF  180  RRRRRRRRRR
387  MSMSMSMSMSMSMSMSMSMS  FFFFFFFFFF  190  RRRRRRRRRR
388  MSMSMSMSMSMSMSMSMSMS  FFFFFFFFFF  180  UUUUUUUUUU
389  MSMSMSMSMSMSMSMSMSMS  FFFFFFFFFF  180  UUUUUUUUUU
390  MSMSMSMSMSMSMSMSMSMS  MMMMMMMMMM  200  UUUUUUUUUU
391  MSMSMSMSMSMSMSMSMSMS  MMMMMMMMMM  170  UUUUUUUUUU
392  MSMSMSMSMSMSMSMSMSMS  MMMMMMMMMM  210  RRRRRRRRRR
393  MSMSMSMSMSMSMSMSMSMS  MMMMMMMMMM  180  RRRRRRRRRR
394  MSMSMSMSMSMSMSMSMSMS  MMMMMMMMMM  190  UUUUUUUUUU

                            famsize     Pstatus  Medu  Fedu  \
0    GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  AAAAAAAAAA    40    40
1    GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    10    10
2    LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3  TTTTTTTTTT    10    10
3    GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    40    20
4    GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    30    30
5    LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3  TTTTTTTTTT    40    30
6    LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3  TTTTTTTTTT    20    20
7    GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  AAAAAAAAAA    40    40
8    LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3  AAAAAAAAAA    30    20
9    GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    30    40
10   GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    40    40
11   GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    20    10
12   LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3  TTTTTTTTTT    40    40
13   GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    40    30
14   GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  AAAAAAAAAA    20    20
15   GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    40    40
16   GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    40    40
17   GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    30    30
18   GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    30    20
19   LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3  TTTTTTTTTT    40    30
20   GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    40    30
21   GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    40    40
22   LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3  TTTTTTTTTT    40    20
23   LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3  TTTTTTTTTT    20    20
24   GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    20    40
25   GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    20    20
26   GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    20    20
27   GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    40    20
28   LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3  AAAAAAAAAA    30    40
29   GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    40    40
..                              ...         ...   ...   ...
365  GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    10    30
366  LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3  TTTTTTTTTT    40    40
367  GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    10    10
368  GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    20    30
369  GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    40    40
370  LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3  TTTTTTTTTT    30    20
371  LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3  TTTTTTTTTT    10    20
372  GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    20    20
373  GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    10    20
374  LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3  TTTTTTTTTT    40    40
375  GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    10    10
376  GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    40    20
377  LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3  TTTTTTTTTT    40    40
378  GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    30    30
379  GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    30    10
380  GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    40    40
381  GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    20    10
382  GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    20    30
383  GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    10    10
384  GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    40    20
385  GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    20    20
386  GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    40    40
387  GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    20    30
388  LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3  TTTTTTTTTT    30    10
389  GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    10    10
390  LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3  AAAAAAAAAA    20    20
391  LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3  TTTTTTTTTT    30    10
392  GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    10    10
393  LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3  TTTTTTTTTT    30    20
394  LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3  TTTTTTTTTT    10    10

                                                  Mjob  \
0    At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...
1    At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...
2    At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...
3    HealthHealthHealthHealthHealthHealthHealthHeal...
4    OtherOtherOtherOtherOtherOtherOtherOtherOtherO...
5    ServicesServicesServicesServicesServicesServic...
6    OtherOtherOtherOtherOtherOtherOtherOtherOtherO...
7    OtherOtherOtherOtherOtherOtherOtherOtherOtherO...
8    ServicesServicesServicesServicesServicesServic...
9    OtherOtherOtherOtherOtherOtherOtherOtherOtherO...
10   TeacherTeacherTeacherTeacherTeacherTeacherTeac...
11   ServicesServicesServicesServicesServicesServic...
12   HealthHealthHealthHealthHealthHealthHealthHeal...
13   TeacherTeacherTeacherTeacherTeacherTeacherTeac...
14   OtherOtherOtherOtherOtherOtherOtherOtherOtherO...
15   HealthHealthHealthHealthHealthHealthHealthHeal...
16   ServicesServicesServicesServicesServicesServic...
17   OtherOtherOtherOtherOtherOtherOtherOtherOtherO...
18   ServicesServicesServicesServicesServicesServic...
19   HealthHealthHealthHealthHealthHealthHealthHeal...
20   TeacherTeacherTeacherTeacherTeacherTeacherTeac...
21   HealthHealthHealthHealthHealthHealthHealthHeal...
22   TeacherTeacherTeacherTeacherTeacherTeacherTeac...
23   OtherOtherOtherOtherOtherOtherOtherOtherOtherO...
24   ServicesServicesServicesServicesServicesServic...
25   ServicesServicesServicesServicesServicesServic...
26   OtherOtherOtherOtherOtherOtherOtherOtherOtherO...
27   HealthHealthHealthHealthHealthHealthHealthHeal...
28   ServicesServicesServicesServicesServicesServic...
29   TeacherTeacherTeacherTeacherTeacherTeacherTeac...
..                                                 ...
365  At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...
366  TeacherTeacherTeacherTeacherTeacherTeacherTeac...
367  OtherOtherOtherOtherOtherOtherOtherOtherOtherO...
368  At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...
369  OtherOtherOtherOtherOtherOtherOtherOtherOtherO...
370  ServicesServicesServicesServicesServicesServic...
371  At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...
372  OtherOtherOtherOtherOtherOtherOtherOtherOtherO...
373  OtherOtherOtherOtherOtherOtherOtherOtherOtherO...
374  OtherOtherOtherOtherOtherOtherOtherOtherOtherO...
375  OtherOtherOtherOtherOtherOtherOtherOtherOtherO...
376  HealthHealthHealthHealthHealthHealthHealthHeal...
377  TeacherTeacherTeacherTeacherTeacherTeacherTeac...
378  OtherOtherOtherOtherOtherOtherOtherOtherOtherO...
379  At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...
380  TeacherTeacherTeacherTeacherTeacherTeacherTeac...
381  OtherOtherOtherOtherOtherOtherOtherOtherOtherO...
382  OtherOtherOtherOtherOtherOtherOtherOtherOtherO...
383  OtherOtherOtherOtherOtherOtherOtherOtherOtherO...
384  OtherOtherOtherOtherOtherOtherOtherOtherOtherO...
385  At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...
386  TeacherTeacherTeacherTeacherTeacherTeacherTeac...
387  ServicesServicesServicesServicesServicesServic...
388  TeacherTeacherTeacherTeacherTeacherTeacherTeac...
389  OtherOtherOtherOtherOtherOtherOtherOtherOtherO...
390  ServicesServicesServicesServicesServicesServic...
391  ServicesServicesServicesServicesServicesServic...
392  OtherOtherOtherOtherOtherOtherOtherOtherOtherO...
393  ServicesServicesServicesServicesServicesServic...
394  OtherOtherOtherOtherOtherOtherOtherOtherOtherO...

                                                  Fjob      ...      freetime  \
0    teacherteacherteacherteacherteacherteacherteac...      ...            30
1    otherotherotherotherotherotherotherotherothero...      ...            30
2    otherotherotherotherotherotherotherotherothero...      ...            30
3    servicesservicesservicesservicesservicesservic...      ...            20
4    otherotherotherotherotherotherotherotherothero...      ...            30
5    otherotherotherotherotherotherotherotherothero...      ...            40
6    otherotherotherotherotherotherotherotherothero...      ...            40
7    teacherteacherteacherteacherteacherteacherteac...      ...            10
8    otherotherotherotherotherotherotherotherothero...      ...            20
9    otherotherotherotherotherotherotherotherothero...      ...            50
10   healthhealthhealthhealthhealthhealthhealthheal...      ...            30
11   otherotherotherotherotherotherotherotherothero...      ...            20
12   servicesservicesservicesservicesservicesservic...      ...            30
13   otherotherotherotherotherotherotherotherothero...      ...            40
14   otherotherotherotherotherotherotherotherothero...      ...            50
15   otherotherotherotherotherotherotherotherothero...      ...            40
16   servicesservicesservicesservicesservicesservic...      ...            20
17   otherotherotherotherotherotherotherotherothero...      ...            30
18   servicesservicesservicesservicesservicesservic...      ...            50
19   otherotherotherotherotherotherotherotherothero...      ...            10
20   otherotherotherotherotherotherotherotherothero...      ...            40
21   healthhealthhealthhealthhealthhealthhealthheal...      ...            40
22   otherotherotherotherotherotherotherotherothero...      ...            50
23   otherotherotherotherotherotherotherotherothero...      ...            40
24   healthhealthhealthhealthhealthhealthhealthheal...      ...            30
25   servicesservicesservicesservicesservicesservic...      ...            20
26   otherotherotherotherotherotherotherotherothero...      ...            20
27   servicesservicesservicesservicesservicesservic...      ...            20
28   otherotherotherotherotherotherotherotherothero...      ...            30
29   teacherteacherteacherteacherteacherteacherteac...      ...            40
..                                                 ...      ...           ...
365  otherotherotherotherotherotherotherotherothero...      ...            30
366  servicesservicesservicesservicesservicesservic...      ...            20
367  servicesservicesservicesservicesservicesservic...      ...            20
368  servicesservicesservicesservicesservicesservic...      ...            20
369  teacherteacherteacherteacherteacherteacherteac...      ...            20
370  servicesservicesservicesservicesservicesservic...      ...            20
371  servicesservicesservicesservicesservicesservic...      ...            30
372  at_homeat_homeat_homeat_homeat_homeat_homeat_h...      ...            40
373  otherotherotherotherotherotherotherotherothero...      ...            50
374  otherotherotherotherotherotherotherotherothero...      ...            40
375  otherotherotherotherotherotherotherotherothero...      ...            30
376  otherotherotherotherotherotherotherotherothero...      ...            40
377  servicesservicesservicesservicesservicesservic...      ...            40
378  otherotherotherotherotherotherotherotherothero...      ...            10
379  otherotherotherotherotherotherotherotherothero...      ...            50
380  teacherteacherteacherteacherteacherteacherteac...      ...            20
381  otherotherotherotherotherotherotherotherothero...      ...            40
382  servicesservicesservicesservicesservicesservic...      ...            40
383  servicesservicesservicesservicesservicesservic...      ...            30
384  otherotherotherotherotherotherotherotherothero...      ...            40
385  otherotherotherotherotherotherotherotherothero...      ...            30
386  at_homeat_homeat_homeat_homeat_homeat_homeat_h...      ...            40
387  otherotherotherotherotherotherotherotherothero...      ...            40
388  servicesservicesservicesservicesservicesservic...      ...            30
389  otherotherotherotherotherotherotherotherothero...      ...            10
390  servicesservicesservicesservicesservicesservic...      ...            50
391  servicesservicesservicesservicesservicesservic...      ...            40
392  otherotherotherotherotherotherotherotherothero...      ...            50
393  otherotherotherotherotherotherotherotherothero...      ...            40
394  at_homeat_homeat_homeat_homeat_homeat_homeat_h...      ...            20

    goout  Dalc  Walc  health absences   G1   G2   G3 legal_drinker
0      40    10    10      30       60   50   60   60            10
1      30    10    10      30       40   50   50   60             0
2      20    20    30      30      100   70   80  100             0
3      20    10    10      50       20  150  140  150             0
4      20    10    20      50       40   60  100  100             0
5      20    10    20      50      100  150  150  150             0
6      40    10    10      30        0  120  120  110             0
7      40    10    10      10       60   60   50   60             0
8      20    10    10      10        0  160  180  190             0
9      10    10    10      50        0  140  150  150             0
10     30    10    20      20        0  100   80   90             0
11     20    10    10      40       40  100  120  120             0
12     30    10    30      50       20  140  140  140             0
13     30    10    20      30       20  100  100  110             0
14     20    10    10      30        0  140  160  160             0
15     40    10    20      20       40  140  140  140             0
16     30    10    20      20       60  130  140  140             0
17     20    10    10      40       40   80  100  100             0
18     50    20    40      50      160   60   50   50             0
19     30    10    30      50       40   80  100  100             0
20     10    10    10      10        0  130  140  150             0
21     20    10    10      50        0  120  150  150             0
22     10    10    30      50       20  150  150  160             0
23     40    20    40      50        0  130  130  120             0
24     20    10    10      50       20  100   90   80             0
25     20    10    30      50      140   60   90   80             0
26     20    10    20      50       20  120  120  110             0
27     40    20    40      10       40  150  160  150             0
28     30    10    10      50       40  110  110  110             0
29     50    50    50      50      160  100  120  110             0
..    ...   ...   ...     ...      ...  ...  ...  ...           ...
365    40    20    40      30       40  100  100  100            10
366    20    20    20      50        0  130  130  130            10
367    10    10    20      10        0   70   60    0             0
368    30    10    20      40        0  110  100  100            10
369    20    40    20      50      100  140  120  110            10
370    20    10    10      30       40   70   70   90            10
371    30    20    30      30       30  140  120  120            10
372    30    10    10      30       80  130  110  110             0
373    50    10    30      10      140   60   50   50             0
374    40    10    10      10        0  190  180  190            10
375    20    10    20      40       20   80   80  100            10
376    30    10    10      30       40  150  140  150            10
377    30    30    40      20       40   80   90  100            10
378    30    10    20      10        0  150  150  150            10
379    40    20    30      10      170  100  100  100             0
380    40    10    40      20       40  150  140  140            10
381    30    10    30      50       50   70   60   70            10
382    30    10    10      30       20  110  110  100             0
383    20    10    30      50        0   60   50    0            10
384    30    40    30      30      140   60   50   50            10
385    30    10    30      40       20  100   90  100            10
386    30    20    20      50       70   60   50   60            10
387    20    10    20      50        0   70   50    0            10
388    40    10    10      10        0   70   90   80            10
389    10    10    10      50        0   60   50    0            10
390    40    40    50      40      110   90   90   90            10
391    50    30    40      20       30  140  160  160             0
392    30    30    30      30       30  100   80   70            10
393    10    30    40      50        0  110  120  100            10
394    30    30    30      50       50   80   90   90            10

[395 rows x 34 columns]