# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd 
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [9]:
cars1 = pd.read_csv('./cars1.csv')
cars2 = pd.read_csv('./cars2.csv')
# cars1 
# cars2

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [16]:
cars1 = cars1.loc[:,'mpg':'car']
cars1 


# cars1.dropna()
# cars1.dropna(axis = 1,how = 'any')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
5,15.0,8,429,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390,190,3850,8.5,70,1,amc ambassador dpl
10,15.0,8,383,170,3563,10.0,70,1,dodge challenger se
11,14.0,8,340,160,3609,8.0,70,1,plymouth 'cuda 340
12,15.0,8,400,150,3761,9.5,70,1,chevrolet monte carlo
13,14.0,8,455,225,3086,10.0,70,1,buick estate wagon (sw)
14,24.0,4,113,95,2372,15.0,70,3,toyota corona mark ii
15,22.0,6,198,95,2833,15.5,70,1,plymouth duster
16,18.0,6,199,97,2774,15.5,70,1,amc hornet
17,21.0,6,200,85,2587,16.0,70,1,ford maverick
18,27.0,4,97,88,2130,14.5,70,3,datsun pl510
19,26.0,4,97,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110,87,2672,17.5,70,2,peugeot 504
21,24.0,4,107,90,2430,14.5,70,2,audi 100 ls
22,25.0,4,104,95,2375,17.5,70,2,saab 99e
23,26.0,4,121,113,2234,12.5,70,2,bmw 2002
24,21.0,6,199,90,2648,15.0,70,1,amc gremlin
25,10.0,8,360,215,4615,14.0,70,1,ford f250
26,10.0,8,307,200,4376,15.0,70,1,chevy c20
27,11.0,8,318,210,4382,13.5,70,1,dodge d200
28,9.0,8,304,193,4732,18.5,70,1,hi 1200d
29,27.0,4,97,88,2130,14.5,71,3,datsun pl510
...,...,...,...,...,...,...,...,...,...
168,23.0,4,140,83,2639,17.0,75,1,ford pinto
169,20.0,6,232,100,2914,16.0,75,1,amc gremlin
170,23.0,4,140,78,2592,18.5,75,1,pontiac astro
171,24.0,4,134,96,2702,13.5,75,3,toyota corona
172,25.0,4,90,71,2223,16.5,75,2,volkswagen dasher
173,24.0,4,119,97,2545,17.0,75,3,datsun 710
174,18.0,6,171,97,2984,14.5,75,1,ford pinto
175,29.0,4,90,70,1937,14.0,75,2,volkswagen rabbit
176,19.0,6,232,90,3211,17.0,75,1,amc pacer
177,23.0,4,115,95,2694,15.0,75,2,audi 100ls
178,23.0,4,120,88,2957,17.0,75,2,peugeot 504
179,22.0,4,121,98,2945,14.5,75,2,volvo 244dl
180,25.0,4,121,115,2671,13.5,75,2,saab 99le
181,33.0,4,91,53,1795,17.5,75,3,honda civic cvcc
182,28.0,4,107,86,2464,15.5,76,2,fiat 131
183,25.0,4,116,81,2220,16.9,76,2,opel 1900
184,25.0,4,140,92,2572,14.9,76,1,capri ii
185,26.0,4,98,79,2255,17.7,76,1,dodge colt
186,27.0,4,101,83,2202,15.3,76,2,renault 12tl
187,17.5,8,305,140,4215,13.0,76,1,chevrolet chevelle malibu classic
188,16.0,8,318,150,4190,13.0,76,1,dodge coronet brougham
189,15.5,8,304,120,3962,13.9,76,1,amc matador
190,14.5,8,351,152,4215,12.8,76,1,ford gran torino
191,22.0,6,225,100,3233,15.4,76,1,plymouth valiant
192,22.0,6,250,105,3353,14.5,76,1,chevrolet nova
193,24.0,6,200,81,3012,17.6,76,1,ford maverick
194,22.5,6,232,90,3085,17.6,76,1,amc hornet
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit

### Step 5. What is the number of observations in each dataset?

In [19]:
# print(cars1.info())
# print(cars2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 9 columns):
mpg             198 non-null float64
cylinders       198 non-null int64
displacement    198 non-null int64
horsepower      198 non-null object
weight          198 non-null int64
acceleration    198 non-null float64
model           198 non-null int64
origin          198 non-null int64
car             198 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
mpg             200 non-null float64
cylinders       200 non-null int64
displacement    200 non-null int64
horsepower      200 non-null object
weight          200 non-null int64
acceleration    200 non-null float64
model           200 non-null int64
origin          200 non-null int64
car             200 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.1+ KB
None

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [25]:
# cars = pd.concat([cars1,cars2],axis = 0) #.concat()æ–¹æ³• é€šè¿‡axisæŽ§åˆ¶åˆå¹¶æ–¹å‘ axis = 0æ˜¯è¡Œåˆå¹¶ axis=1æ—¶ åˆ—åˆå¹¶

cars = cars1.append(cars2) #obj1.apend.(obj2)
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
5,15.0,8,429,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390,190,3850,8.5,70,1,amc ambassador dpl
10,15.0,8,383,170,3563,10.0,70,1,dodge challenger se
11,14.0,8,340,160,3609,8.0,70,1,plymouth 'cuda 340
12,15.0,8,400,150,3761,9.5,70,1,chevrolet monte carlo
13,14.0,8,455,225,3086,10.0,70,1,buick estate wagon (sw)
14,24.0,4,113,95,2372,15.0,70,3,toyota corona mark ii
15,22.0,6,198,95,2833,15.5,70,1,plymouth duster
16,18.0,6,199,97,2774,15.5,70,1,amc hornet
17,21.0,6,200,85,2587,16.0,70,1,ford maverick
18,27.0,4,97,88,2130,14.5,70,3,datsun pl510
19,26.0,4,97,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110,87,2672,17.5,70,2,peugeot 504
21,24.0,4,107,90,2430,14.5,70,2,audi 100 ls
22,25.0,4,104,95,2375,17.5,70,2,saab 99e
23,26.0,4,121,113,2234,12.5,70,2,bmw 2002
24,21.0,6,199,90,2648,15.0,70,1,amc gremlin
25,10.0,8,360,215,4615,14.0,70,1,ford f250
26,10.0,8,307,200,4376,15.0,70,1,chevy c20
27,11.0,8,318,210,4382,13.5,70,1,dodge d200
28,9.0,8,304,193,4732,18.5,70,1,hi 1200d
29,27.0,4,97,88,2130,14.5,71,3,datsun pl510
...,...,...,...,...,...,...,...,...,...
170,27.0,4,112,88,2640,18.6,82,1,chevrolet cavalier wagon
171,34.0,4,112,88,2395,18.0,82,1,chevrolet cavalier 2-door
172,31.0,4,112,85,2575,16.2,82,1,pontiac j2000 se hatchback
173,29.0,4,135,84,2525,16.0,82,1,dodge aries se
174,27.0,4,151,90,2735,18.0,82,1,pontiac phoenix
175,24.0,4,140,92,2865,16.4,82,1,ford fairmont futura
176,23.0,4,151,?,3035,20.5,82,1,amc concord dl
177,36.0,4,105,74,1980,15.3,82,2,volkswagen rabbit l
178,37.0,4,91,68,2025,18.2,82,3,mazda glc custom l
179,31.0,4,91,68,1970,17.6,82,3,mazda glc custom
180,38.0,4,105,63,2125,14.7,82,1,plymouth horizon miser
181,36.0,4,98,70,2125,17.3,82,1,mercury lynx l
182,36.0,4,120,88,2160,14.5,82,3,nissan stanza xe
183,36.0,4,107,75,2205,14.5,82,3,honda accord
184,34.0,4,108,70,2245,16.9,82,3,toyota corolla
185,38.0,4,91,67,1965,15.0,82,3,honda civic
186,32.0,4,91,67,1965,15.7,82,3,honda civic (auto)
187,38.0,4,91,67,1995,16.2,82,3,datsun 310 gx
188,25.0,6,181,110,2945,16.4,82,1,buick century limited
189,38.0,6,262,85,3015,17.0,82,1,oldsmobile cutlass ciera (diesel)
190,26.0,4,156,92,2585,14.5,82,1,chrysler lebaron medallion
191,22.0,6,232,112,2835,14.7,82,1,ford granada l
192,32.0,4,144,96,2665,13.9,82,3,toyota celica gt
193,36.0,4,135,84,2370,13.0,82,1,dodge charger 2.2
194,27.0,4,151,90,2950,17.3,82,1,chevrolet camaro
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [28]:
owner = np.random.randint(15000,high = 73001,size = 398,dtype = 'l')
owner

array([65773, 39768, 15218, 53064, 71325, 35533, 17428, 20406, 47014,
       39939, 19569, 52509, 60068, 68640, 55234, 59505, 59699, 38253,
       47458, 64445, 69110, 29638, 53207, 18187, 51340, 16940, 20541,
       33856, 21873, 43037, 59683, 16272, 30699, 19136, 65922, 52279,
       65840, 62237, 36032, 15198, 34047, 44745, 28032, 68493, 46044,
       52063, 25842, 22745, 35172, 69034, 38658, 29847, 49337, 26997,
       58567, 30471, 64192, 71294, 58194, 34094, 38230, 72620, 26671,
       32953, 37343, 29693, 22118, 59703, 39290, 32840, 46456, 37095,
       23708, 47278, 33229, 23128, 29750, 56638, 27743, 69269, 69157,
       20549, 20869, 44593, 64875, 31644, 70186, 43910, 41069, 29662,
       24191, 67251, 64553, 52849, 68571, 42171, 70296, 54740, 71640,
       47687, 67649, 15957, 40488, 47114, 42706, 30918, 25684, 17340,
       41165, 16532, 22265, 33781, 62950, 36774, 24715, 53739, 66630,
       71457, 42367, 69606, 68335, 20867, 62778, 41600, 52603, 71369,
       53954, 29330, 58473, 70340, 65287, 18760, 21187, 17699, 65483,
       50897, 51327, 67715, 20508, 28111, 70162, 55759, 22943, 51543,
       44626, 58701, 26473, 24498, 69262, 56111, 28757, 49190, 42309,
       72148, 57065, 38164, 39551, 33366, 39588, 67252, 58470, 31678,
       59773, 15125, 33152, 52862, 53517, 44837, 60623, 55427, 27352,
       35276, 62729, 47497, 57853, 19420, 27453, 56152, 42956, 22897,
       71892, 58010, 45431, 42095, 18175, 45398, 67118, 43513, 62194,
       41207, 16792, 40964, 55284, 36702, 29836, 65419, 47099, 40880,
       65289, 56769, 18642, 39126, 70412, 29732, 67368, 38347, 66123,
       41407, 34301, 50045, 56597, 37308, 63394, 65738, 71489, 38504,
       70819, 54747, 49712, 44884, 27640, 20561, 63100, 34997, 56015,
       51895, 26903, 23824, 23377, 27751, 61806, 34358, 38024, 71857,
       59450, 57523, 46435, 25717, 54731, 70996, 58277, 39162, 51410,
       46817, 26254, 62540, 17916, 18999, 31718, 34752, 16145, 20496,
       57430, 64980, 22963, 60564, 25651, 66792, 62476, 48775, 71208,
       28855, 19734, 21375, 27848, 34616, 30120, 54759, 20898, 51468,
       45965, 69932, 42206, 64733, 62216, 34303, 51153, 30053, 69964,
       68935, 62281, 64930, 16544, 48963, 42036, 37783, 22483, 21899,
       26027, 52628, 18069, 47716, 33484, 22660, 50819, 21528, 29965,
       24062, 41113, 37131, 17588, 50429, 53100, 44775, 61364, 72258,
       60099, 65947, 49881, 38035, 25989, 45648, 42658, 35517, 15740,
       69452, 66803, 26547, 66286, 34121, 51352, 61756, 42065, 43489,
       16446, 32297, 67058, 31630, 20984, 41986, 70449, 66711, 60090,
       24233, 45075, 26516, 21783, 47224, 57552, 18981, 46159, 30124,
       71787, 31784, 54770, 24630, 45880, 60815, 25205, 41555, 32764,
       32704, 72668, 70125, 36388, 35528, 62478, 57252, 42580, 27874,
       17944, 62416, 39304, 67140, 53720, 23606, 42098, 48503, 38293,
       20665, 50746, 40392, 46699, 24443, 44603, 33347, 37659, 70345,
       35099, 34666, 60833, 42940, 30623, 71427, 51403, 21719, 49664,
       66330, 29822, 67086, 27475, 67893, 17628, 37732, 50351, 50488,
       47931, 31046])

### Step 8. Add the column owners to cars

In [31]:
cars['owner'] = owner 
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owner
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,37732
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,50351
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,50488
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,47931
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,31046